<li><form method="post" action='/accounts/{{id}}/lists'>
  <button>Create List</button>
</form></li>
{{#each lists}}
<li><a href='/accounts/{{this.accountId}}/lists/{{this.id}}'>{{this.name}}</a></li>
{{/each}}
