<a href='../' class='back'>&larr;</a>
<form method="POST" action="/accounts/{{accountId}}/lists/{{id}}?_method=DELETE" class='delete'>
  <button type="submit" onclick="return confirm('Are you sure?')">&times;</button>
</form>
<h2 contenteditable onblur='updateTitle(event)' account-id={{accountId}} id={{id}}>{{name}}</h2>

<input type='text' onkeyup='createItem(event)' account-id={{accountId}} id={{id}} placeholder="Enter New Item">
<ul class='sortable'>
  {{#each items}}
    <li>
      <span
	account-id="{{../accountId}}"
	list-id="{{../id}}"
	id="{{this.id}}"
	onblur='updateItem(event)'
	>{{this.name}}</span>
  {{/each}}
</ul>
