    <script>
      var ul = document.querySelector(".lists");
      var title = document.querySelector(".title");
      window.onhashchange = (function onLoad(){
	var data
	ul.innerHTML = ""
	if(route().list){
	  $.getJSON("/api/accounts/" + route().account + "/lists/" + route().list, res => {
	    title.innerHTML = res.name
	    var input = document.createElement("input")
	    input.setAttribute("placeholder","Add new Item")
	    input.addEventListener("keyup", createItem)
	    document.body.insertBefore(input, ul)
	    res.items.forEach(listItem)
	  })
	}else{
	}
	return onLoad
      })();
      function listList(list){
	var li = document.createElement("li")
	li.innerHTML = "<a href='"+route({account: route().account, list:list.id})+"'>"+list.name+"</a>"
	ul.appendChild(li)
      }
      function newList(){
	var li = document.createElement("li")
	li.innerHTML = "<a href='#' class='js-create-list'>Create List</a>"
	li.addEventListener("click", e => {
	  e.preventDefault()
	})
	ul.appendChild(li)
      }
      function listItem(item){
      }
      function destroy(){
        if(route().list){
	  $.ajax({
	    url:"/api/accounts/"+route().account + "/lists/" + route().list,
	    method: 'delete',
	    success(){
	      route({account: route().account}, {redirect: true})
	    }
	  })
	}
      }
      function deleteItem(item){
	$.ajax({
	  url:"/api/accounts/"+route().account + "/lists/" + route().list + "/items/" + item.id,
	  method: 'delete'
	})
      }
      function route(setter, opts){
	if(typeof setter === "undefined")
	  return getRoute()
	return setRoute(setter, opts)
      }
      function setRoute(setter, opts){
	var str = "/#"
	for(var k in setter){
 	  str += '/' + k + '/' + setter[k]
	}
	if(opts && opts.redirect === true) window.location = str
        return str
      }
      function getRoute(){
        var o = {}
	var strs = window.location.hash.substr(2).split("/")
	for(var i = 0; i < strs.length; i = i +2){
 	  o[strs[i]] = strs[i+1]
	}
	return o
      }
    </script>
    <script type="text/babel">
      var List = React.createClass({
        render(){
	  var href = route({
	    account: route().account,
	    list: this.props.id
	  })
	  return(
	    <li><a href={href}>{this.props.name}</a></li>
	  )
	}
      })
      var Accounts = React.createClass({
	createAccount(){
	  var self = this
 	  $.post("/api/accounts", r => {
	    self.props.router.push({
	      pathname: '/account/' + r.id,
	    })
	  })
	},
        render: function(){
	  return(
	    <a onClick={e => this.createAccount()}>Create an account</a>
	  )
	}
      })
      var Account = React.createClass({
	getInitialState(){
	  return {
	    account: {id:route().account},
	    list: {id: route().list},
	    lists: []
	  }
	},
	componentDidMount(){
	  $.getJSON("/api/accounts/" + this.props.params.account_id, res => {
	    this.setState({lists:res.lists, account: this.state.account})
	  })
	},
	createList(){
	  
	  $.post("/api/accounts/" + this.props.params.account_id+ "/lists", res => {
	    this.props.router.push({
	      pathname: '/account/' + this.props.params.account_id,
	    })
            console.log(this)
	  })
	},
        render: function(){
	  return (<ul>
	    <li onClick={e => this.createList()}>New List</li>
	    {this.state.lists.map(list => {
		return <List name={list.name} items={list.items} id={list.id}/>
	    })}
	  </ul>)
	}
      })
    var Router = ReactRouter.Router
    var Route = ReactRouter.Route
    var Link = ReactRouter.Link
    Accounts = ReactRouter.withRouter(Account)
    var browserHistory = ReactRouter.browserHistory
    ReactDOM.render(
    <Router history={browserHistory}>
        <Route path="/" component={Accounts}>
	  <Route path="/account/:account_id" component={Account}>
	  </Route>
	</Route>
    </Router>,
      document.getElementById('root')
    );
    </script>
  </body>
</html>
