<!doctype html>
<html>
  <head>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <style>
      .sortable li {
        width:100%;
	border: 1px solid red;
	padding:.5em;
	box-sizing:border-box;
	list-style:none;
      }
      .sortable{
        padding-left:0;
      }
      li span + span {
        margin-left:1em;
	display:inline-block;
	cursor: pointer;
	float:right;
	background:red;
	padding:0 1em;
      }
      [contenteditable]:focus{
        outline:none;
      }
      .delete button{
        border:none;
	background:none;
	font:inherit;
	color:inherit;
	position:absolute;
	top:.5em;
	right:.5em;
      }
      .back{
        color:inherit;
	font:inherit;
	text-decoration:none;
      }
    </style>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
  </head>
  <body>
    {{{body}}}
    <script>
      function updateTitle(event){
	$.ajax({
	  url:"/api/accounts/"+event.target.getAttribute("account-id")+ "/lists/" + event.target.id,
	  method: 'patch',
	  data: {
	    title: event.target.innerHTML
	  },
	  success(){
	  }
	})
      }
      function updateItem(event){
	$.ajax({
	  url:"/api/accounts/"+event.target.getAttribute("account-id")+ "/lists/" + event.target.getAttribute("list-id") + "/items/" + event.target.id,
	  method: 'patch',
	  data: {
	    name: event.target.innerHTML,
	    order: event.target.getAttribute("order")
	  },
	  success(){
	  }
	})
      }
      function deleteItem(event){
	$.ajax({
	  url:"/api/accounts/"+event.target.getAttribute("account-id")+ "/lists/" + event.target.getAttribute("list-id") + "/items/" + event.target.id,
	  method: 'delete',
	  success(){
            $grid.packery( 'remove', event.target.parentNode ).packery('shiftLayout');
	  }
	})
      }
      function createItem(event){
        if(event.keyCode === 13){
	  $.post("/api/accounts/" + event.target.getAttribute("account-id") + "/lists/" + event.target.getAttribute("id") + "/items", {name: event.target.value}, function(res){
	    var li = document.createElement("li")
	    var span = document.createElement("span")
	    span.id = res.id
	    span.onblur = updateItem
	    span.innerHTML = res.name
	    li.appendChild(span)
	    $grid.prepend(li).packery( 'prepended', li )
	    handleDragging(li)
	    event.target.value = ''
	  })
	}
      }
    </script>
    <script src="https://npmcdn.com/draggabilly@2.1/dist/draggabilly.pkgd.min.js"></script>
    <script src='https://npmcdn.com/packery@2.1.1/dist/packery.pkgd.min.js'></script>
    <script>
      var $grid = $(".sortable").packery({
        itemSelector: "li"
      })
      function handleDragging(el){
	var draggie = new Draggabilly( el );
	var op
	draggie.on('dragMove', function(event,pointer,moveVector){
	  op = 1 + (this.position.x / 100)
	})
	draggie.on('dragEnd', function(event,pointer,moveVector){
	  if(op <= 0)
	    deleteItem({target: el.firstElementChild})
	})
	$grid.packery( 'bindDraggabillyEvents', draggie );
      }
      $grid.find('li').each( function( i, gridItem ) {
	handleDragging(gridItem)
      });
      $grid.on( 'dragItemPositioned', updateOrder)
      function updateOrder(){
	var itemElems = $grid.packery('getItemElements');
	$( itemElems ).each( function( i, itemElem ) {
	  $( itemElem.firstElementChild ).attr("order", i + 1 );
	  updateItem({target: itemElem.firstElementChild})
	});
      }
    </script>
  </body>
</html>
